@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-blue-200 via-blue-300 to-blue-400;
  .scrollbar-hide {
    overflow: -moz-scrollbars-none; /* Firefox */
    scrollbar-width: none; /* Firefox */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /* background: linear-gradient(to right, #b3e5fc, #e1f5fe); /* Light blue gradient */
    /* min-height: 100vh;  */
    
  }


  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
